.game {
  button {
    border: black solid 1px;
    background-color: lightcoral;
  }

  button:hover {
    background-color: coral;
  }

  button:focus {
    background-color: gold;
    color: black;
  }
}

.start-page {
  position: relative;
  top: 40%;
  transform: translateY(-50%);
  text-align: center;
}

.question-wrapper {
  height: 400px;
  background-color: lightcoral;
  padding: 2em;
  color: black;

  div {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
  }

  @media (max-width: 1100px) {
    padding: 1em;

    h2 {
      font-size: 150%;
    }
  }

  @media (max-width: 800px) {
    h2 {
      font-size: 120%;
    }
  }
}

.answer-wrapper {
  padding: 2em;
  display: flex;
  flex-wrap: wrap;

  button {
    margin: 1em;
    flex: 40%;
  }
}
