.header {
  padding: 1em;
  text-align: center;
  background-color: lightgoldenrodyellow;
  border-bottom: solid black 1em;

  h1 {
    letter-spacing: 2px;
    margin: 0; // this needs investigation as to what is adding bottom margin to h tags... possibly bootstrap
  }
}
