* {
  font-family: "Quicksand", sans-serif;
}

.answers-container {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 10px;
}

@media (min-width: 900px) {
  .answers-container{
    display: grid;
    grid-template-columns: auto auto;
  }
}