.main {
  height: 100%;
  overflow: auto;
}

.question-wrapper {
  background-color: lightcoral;
  padding: 5em;
  color: white;
}

.answer-wrapper {
  background-color: lightgoldenrodyellow;
  color: black;
}
